.header__lang-link {
  color: #fff;
  text-decoration: none;
  transition: opacity .5s;
  margin-right: 18px;
}

.header__lang-link:last-child {
  margin-right: 0;
}

 .header__lang-link:link:hover {
  opacity: .5;
}