.places {
  padding-top: 64px;
}

@media screen and (min-width: 768px) {
  .places {
    padding: 88px 24px 0;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    padding: 92px 48px 0;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    padding: 92px 148px 0;
  }
}