.intro__list {
  list-style: none;
  margin: 34px 0 0; /* Возможно, ошибка дизайнера:
                    при больших размерах экрана
                    отступ 33px, что не логично */
  padding: 0;
}