.footer__menu-list-item {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 32px;
}

.footer__menu-list-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .footer__menu-list-item {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 0; /* Здесь нет дублирования, стили меняются на разной ширине с вертикальных на горизонтальные отступы */
    margin-right: 18px;
  }
  .footer__menu-list-item:last-child {
    margin-right: 0;
  }
}