.cover__subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0 16px 0;
  max-width: 360px;
  white-space: pre-line;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 392px) {
  .cover__subtitle {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    white-space: normal;
  }
}