.header__logo {
  background-image: url(../../../images/header-logo.svg);
  width: 176px;
  height: 52px;
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
  transition: opacity .5s;
}

.header__logo:hover {
  opacity: .5;
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}