.header__logo {
  background-image: url(../../../images/header-logo.svg);
  width: 142px;
  height: 42px;
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
  transition: opacity .2s;
}

@media screen and (min-width: 1024px) {
  .header__logo:hover {
    opacity: .8;
  }
}

@media screen and (min-width: 425px) {
  .header__logo {
    width: 176px;
    height: 52px;
  }
}