.place__text {
 margin: 48px 16px 0;
 font-size: 16px;
 font-weight: 400;
 line-height: 1.63;
 max-width: 690px;
}

@media screen and (min-width: 768px) {
  .place__text {
    margin: 48px 0 0;
    width: calc(50% - 8px);
  }
}

@media screen and (min-width: 1024px) {
  .place__text {
    font-size: 18px;
  }
}