.lead__subtitle {
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  width: 288px;
  padding-top: 16px;
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    width: 640px;
    padding-top: 32px;
    font-size: 30px;
    line-height: 1.2;
  }
}
