.cover {
  margin: 66px 0 64px;
}

@media screen and (min-width: 425px) {
  .cover {
    margin: 90px 0 88px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin: 92px 0;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    margin: 92px 48px;
  }
}