.cover {
  margin: 66px 0 64px;
  max-width: 2048px;
  background-color: #2A2C2F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: calc(100vw / 1.6);
}

.cover::after {
  content: '';
  width: 100%;
  height: calc(100vw / 1.6);
  background-image: url(../../../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .7;
  position: absolute;
  transition: opacity .2s;
}

@media screen and (min-width: 425px) {
  .cover {
    margin: 90px 0 88px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin: 92px 0;
  }
  .cover:hover::after {
    opacity: 0.2;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    margin: 92px 48px;
    height: calc(1184px / 1.6);
  }
  .cover::after {
    height: calc(1184px / 1.6);
  }
}

@media screen and (min-width: 2144px) {
  .cover {
    margin: 92px auto;
  }
}