.cover__background {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: calc(100vw / 1.6);
  background-image: url(../../../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.cover__background::after {
  content: '';
  width: 100%;
  background-color: #2A2C2F;
  min-height: calc(100vw / 1.6);
  opacity: .3;
  position: absolute;
  transition: opacity .2s;
}

@media screen and (min-width: 1024px) {
  .cover__background:hover::after {
    opacity: 0.8;
  }
}

@media screen and (min-width: 1280px) {
  .cover__background {
    min-height: calc(1184px / 1.6);
  }
  .cover__background::after {
    min-height: calc(1184px / 1.6);
  }
}