.cover__title {
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  margin: 0 16px 16px;
  max-width: 560px;
  white-space: pre-line;
}

@media screen and (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    margin: 0 auto 32px;
    width: 560px;
  }
}