.place__website {
  margin: 32px 16px 0;
  width: calc(100% - 32px);
  max-width: 690px;
}

@media screen and (min-width: 768px) {
  .place__website {
    margin: 0;
    width: calc(50% - 8px);
    align-self: flex-end;
  }
}